---
// Import necessary types and components
import type { CollectionEntry } from 'astro:content';
import ProjectElement from './ProjectElement.astro';
import TitleCard from '@components/generic/TitleCard.astro';

interface Props {
  projects: CollectionEntry<'project'>[];
}

const { projects } = Astro.props;
const sortedProjects = projects.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<main class='bg-bgc'>
    <section id='about' class='flex items-center justify-center h-[calc(100vh-6rem)]'>
        <div class='flex flex-col items-start w-full md:w-1/2 max-w-8xl p-4'>
            <TitleCard color='var(--navbg)'>
                <p class="mt-4 outfit text-2xl md:text-4xl lg:text-6xl text-left">Projects</p>
            </TitleCard>
            
            <div class='w-full mt-12'>
                <ul class='p-0 space-y-8'>
                    {
                        sortedProjects.map((project) => {
                            return (
                                <li>
                                    <ProjectElement project={project} color="tcotta"/>
                                </li>
                            );
                        })
                    }
                </ul>
            </div>
        </div>
    </section>
</main>
