---
import type { CollectionEntry } from 'astro:content';
import ProjectElement from './ProjectElement.astro';

interface Props {
  projects: CollectionEntry<'project'>[];
}

const { projects } = Astro.props;

---

<main class='bg-bgc p-6'>
    <section id='about' class='flex items-start justify-start'>
        <div class='flex flex-col items-start w-full max-w-8xl p-4'>
            <div class='w-full'>
                <ul class='p-0 space-y-8'>
                    {
                        projects.map((project) => {
                            return (
                                <li>
                                    <ProjectElement project={project} color="tcotta"/>
                                </li>
                            );
                        })
                    }
                </ul>
            </div>
        </div>
    </section>
</main>

