---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const projectEntries = await getCollection('project');
  return projectEntries.map((projectpost) => ({
    params: { slug: projectpost.slug },
    props: { projectpost },
  }));
}

interface Props {
  projectpost: CollectionEntry<'project'>;
}

const { projectpost } = Astro.props;
const { Content } = await projectpost.render();
---

<div class="text-justify">
<Content />
</div>
