---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const projectEntries = await getCollection('project');
  return projectEntries.map((projectpost) => ({
    params: { slug: projectpost.slug },
    props: { projectpost },
  }));
}

interface Props {
  projectpost: CollectionEntry<'project'>;
}

const { projectpost } = Astro.props;
const { Content } = await projectpost.render();
---

<style>
  /* Apply to the entire page */
  body {
      overflow-x: hidden;
  }
  
  /* Apply to specific container if needed */
  .text-justify {
      overflow-x: hidden;
  }
</style>


<div class="text-justify">
<Content />
</div>
