---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import ProjectList from '@components/project/ProjectList.astro';

const projects = await getCollection('project').then((collection) =>
  collection.reverse()
);
---


<Layout
  title='projects'
  description='getlar projects | on this page you can find a collection of projects'
  pageTitle='getlar projects'
>
  <main class='bg-bgc'>
    <ProjectList projects={projects} />
  </main>
</Layout>
