---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import ProjectList from '@components/project/ProjectList.astro';

const projects = await getCollection('project').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='blog'
  description='getlar blog | on this page you can find a collection of blogposts'
  pageTitle='getlar blog'
>
  <main class='bg-bgc p-6'>
    <ProjectList projects={projects} />
    <div class="h-[4vh] bg-bgc"/>
  </main>
</Layout>
