---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((blogpost) => ({
    params: { slug: blogpost.slug },
    props: { blogpost },
  }));
}

interface Props {
  blogpost: CollectionEntry<'blog'>;
}

const { blogpost } = Astro.props;
const { Content } = await blogpost.render();
---

<style>
  /* Apply to the entire page */
  body {
      overflow-x: hidden;
  }
  
  /* Apply to specific container if needed */
  .text-justify {
      overflow-x: hidden;
  }
</style>


<div class="text-justify">
<Content />
</div>
