---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='blog'
  description='getlar blog | on this page you can find a collection of blogposts'
  pageTitle='getlar blog'
>
  <main class='bg-white p-6'>
    <BlogList posts={posts} />
    <div class="h-[4vh] bg-white"/>
  </main>
</Layout>
