---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='posts'
  description='getlar posts | on this page you can find a collection of posts'
  pageTitle='getlar posts'
>
  <main class='bg-greyer p-6 min-h-screen'>
    <BlogList posts={posts} />
    <div class=" bg-greyer"/>
  </main>
</Layout>
