@tailwind base;
@tailwind components;
@tailwind utilities;

.card-shadow {
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.card-shadow:hover {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
}

:root {
  /* ---- ⚫️ Colors ⚪️ ---- */
  /* Base Tokens */
  --sys-color-white: #FFFFFF;
  --sys-color-black: #000000;

  /* Theme Tokens */
  --primary: var(--sys-color-white);
  --secondary: var(--sys-color-black);

  --tcotta: #023209;
  --navbg: #f2f2f2;
  --bgcolor: #fcfcfc;
  --textcolor: #222222;
  --greyer: #d6d6d6;

  --tcotta-dark: #4d8d57;
  --navbg-dark: #383938;
  --bgcolor-dark: #3e3f3e;
  --textcolor-dark: #f0f0f0;
  --greyer-dark: #3a3a3a;

  --card-shadow-color: black;
}

:root.dark {
  --card-shadow-color: white;
}

body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

html {
  scroll-behavior: smooth;
}

.scroll-container {
  overflow: auto;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 4px;
}

.scroll-container:hover::-webkit-scrollbar {
  background-color: transparent;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
}

::selection
{
  background-color: aliceblue;
}
