@tailwind base;
@tailwind components;
@tailwind utilities;

.card-shadow {
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.card-shadow:hover {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
}

:root {
  /* ---- ⚫️ Colors ⚪️ ---- */
  /* Base Tokens */
  --sys-color-white: #FFFFFF;
  --sys-color-black: #000000;

  /* Theme Tokens */
  --primary: var(--sys-color-white);
  --secondary: var(--sys-color-black);

  --tcotta: #89430a;
  --navbg: #f4eee0;
  --bgcolor: #edebe6;
  --textcolor: #333333;
}

html {
  scroll-behavior: smooth;
}

.scroll-container {
  overflow: auto;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 4px;
}

.scroll-container:hover::-webkit-scrollbar {
  background-color: transparent;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
}

::selection
{
  background-color: aliceblue;
}
