---
interface Props {
  content?: any;
}

/* const { content } = Astro.props; */
---

<article class='prose-slate w-sm md:w-prose md:prose poppins p-6'>
  <a href='/' title='Back to home' class="hover:text-tcotta transition-all duration-150 ease-in-out text-dark poppins">&larr; Back to home</a>
  <slot />
  <a href='/' title='Back to home' class="hover:text-tcotta transition-all duration-150 ease-in-out text-dark poppins">&larr; Back to home</a>
</article>
