---
import Layout from '@layouts/Default.astro';
import ErrorPage from '@components/errors/404.astro';
---

<Layout
  title='Page Not Found'
  description='Page not found'
  classList='h-full'
  pageTitle='Page Not Found!'
>
  <main class='flex bg-bgcolor dark:bg-dark-bgcolor px-6 min-h-screen text-textcolor dark:text-dark-textcolor'>
    <ErrorPage />
    <!--- <RecentBlogPosts count={3}/> --->
  </main>
</Layout>
