---
import Layout from '@layouts/Default.astro';
import ErrorPage from '@components/errors/404.astro';
---

<Layout
  title='Page Not Found'
  description='Page not found'
  classList='h-full'
  pageTitle='Page Not Found!'
>
  <main class='flex bg-bgc px-6 min-h-screen'>
    <ErrorPage />
    <!--- <RecentBlogPosts count={3}/> --->
  </main>
</Layout>
