---
import { getCollection } from 'astro:content';

const aboutContent = await getCollection('about');
const aboutPage = aboutContent[0];

const { Content } = await aboutPage.render();
---

<style>
    /* Apply to the entire page */
    body {
        overflow-x: hidden;
    }
    
    /* Apply to specific container if needed */
    .text-justify {
        overflow-x: hidden;
    }
 </style>
    

<div class="text-justify">
    <Content />
</div>
