---
import Layout from '@layouts/Default.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import TitleCard from '@components/generic/TitleCard.astro';
import Leaf from '../assets/leaf.svg?raw';
---

<style>
  .inline-svg {
    display: inline; /* Ensures SVG is treated as inline */
    vertical-align: middle; /* Aligns the SVG with the text */
    width: 50px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
</style>

<Layout
  title='home'
  pageTitle='tamastheactual - home page'
  description='home page'
>
  <main class='bg-bgc flex-1 overflow-auto'>
    <MobileSocials />
    <section id='about' class='flex items-center justify-center h-[calc(100vh-6rem)]'>
      <div class='max-w-8xl'>
        <TitleCard color='var(--navbg)'>
          <div class="flex flex-col justify-center items-center h-full p-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl text-center"> Takács Tamás</p>
            <div class="mt-4">
            <Fragment set:html={Leaf}></Fragment>
            </div> 
            <a class="mt-4 outfit text-xl md:text-3xl lg:text-5xl text-center" href="https://www.inf.elte.hu/" target="_blank"> PhD Student @ Eötvös Loránd University </a>
            <div class="mt-4"></div>
            <a class="mt-4 outfit text-sm md:text-ml lg:text-2xl text-center" href="mailto:tamastheactual&commat;student&period;elte&period;hu">tamastheactual(at)inf(dot)elte(dot)hu </a>
          </div>   
        </TitleCard>
      </div>
    </section>    
  </main>
</Layout>
