---
import Layout from '@layouts/Default.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import TitleCard from '@components/generic/TitleCard.astro';
import Leaf from '../assets/leaf.svg?raw';
---

<style>
  .inline-svg {
    display: inline; /* Ensures SVG is treated as inline */
    vertical-align: middle; /* Aligns the SVG with the text */
    width: 50px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
</style>

<Layout
  title='home'
  pageTitle='getlar - home page'
  description='home page'
>
  <main class='bg-bgc p-6'>
    <MobileSocials />
    <section id='about' class='flex items-center justify-center h-[87vh]'>
      <div class='max-w-8xl'>
        <TitleCard color='var(--navbg)'>
          <div class="flex flex-col justify-center items-center h-full p-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl text-center"> Takács Tamás</p>
            <div class="mt-4">
            <Fragment set:html={Leaf}></Fragment>
            </div> 
            <p class="mt-4 outfit text-xl md:text-3xl lg:text-5xl text-center"> PhD Student @ Eötvös Loránd University </p>
          </div>   
        </TitleCard>
      </div>
    </section>    
    <!--<RecentBlogPosts />-->
  </main>
</Layout>