---
import Layout from './Default.astro';
import AboutContent from '@components/about/AboutContent.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const { content } = Astro.props;
const { title, description } = content;
---

<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
>
<main class='p-6 bg-bgc color-textcolor'>
    <div class='flex justify-center'>
      <AboutContent content={content}>
        <slot />
      </AboutContent>
    </div>
  </main>
  <div class="h-[5vh] bg-bgc"/>
</Layout>
