---
import Layout from './Default.astro';
import AboutContent from '@components/about/AboutContent.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const { content } = Astro.props;
const { title, description } = content;
---

<head>
  <meta charset="utf-8" />
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
  />
  </head>
  
<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
>
<main class='bg-bgc color-textcolor flex justify-center max-h-fill'>
    <div class='p-6 flex justify-center'>
      <AboutContent content={content}>
        <slot />
      </AboutContent>
    </div>
  </main>
  <div class="h-[5vh] bg-bgc"/>
</Layout>
