---
import Layout from './Default.astro';
import ProjectSideBar from '@components/project/ProjectSideBar.astro';
import ProjectContent from '@components/project/ProjectContent.astro';
import RecentProjectPosts from '@components/project/RecentProjectPosts.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const { content, headings } = Astro.props;
const { title, description } = content;
---
<head>
  <meta charset="utf-8" />
  
  </head>

<style>
hr {
  border: 0;
  border-top: 1px solid #000000;
  margin: 1rem 0;
}
</style>


<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
>
  <main class='p-6 lg:grid lg:grid-cols-3 flex justify-center bg-bgc color-textcolor'>
    <ProjectSideBar headings={headings} />
    <ProjectContent content={content}>
      <slot />
    </ProjectContent>
  </main>
  <section class='p-6 bg-bgc'>
    <RecentProjectPosts count={3} />
  </section>
  <div class="h-[10vh] bg-bgc"/>
</Layout>
