---
interface Props {
  color: string;
}

const { color } = Astro.props;
---

<style define:vars={{ color: color }}>
  div.fixed-color-card {
    background-color: var(--color);
    border-radius: 0.5rem;
    border: 2px solid var(--textcolor);
    transition: all;
    padding: 1rem;
    color: var(--textcolor);
    transition-duration: 0.5s;
    animation: ease-in-out;
  }
  div.fixed-color-card:hover {
    filter: drop-shadow(0px 0px 0 rgb(0 0 0 / 1));
  }
</style>

<div class='fixed-color-card'>
  <slot />
</div>
