---
interface Props {
  color?: string | undefined;
}

const { color } = Astro.props;
---

<style define:vars={{ color: color}}>
  span.brutal-pill {
    filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
    user-select: none;
    background-color: var(--color);
    border-radius: 9999px;
    border: 2px solid var(--textcolor);
    padding: 0.25rem 0.75rem;
    transition: all 0.5s ease-in-out;
    font-size: small;
  }

  /* Smaller pill styles when 'smaller' is true */
  @media (max-width: 1024px) {
    span.brutal-pill {
      padding: 0.125rem 0.5rem;
      font-size: x-small;
    }
  }

  span.brutal-pill:hover {
    filter: drop-shadow(0px 0px 0 rgb(0 0 0 / 1));
    background-color: var(--tcotta);
    color: white;
  }
</style>

<span class='brutal-pill'>
  <slot />
</span>
