---
interface Props {
  color?: string;
  darkColor?: string;
}

const { color, darkColor } = Astro.props;
---

<style define:vars={{ color: color, darkColor: darkColor ?? color }}>
  span.brutal-pill {
    filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
    user-select: none;
    background-color: var(--color);
    border-radius: 9999px;
    border: 2px solid var(--textcolor);
    padding: 0.25rem 0.75rem;
    transition: all 0.5s ease-in-out;
    font-size: small;
  }

  /* Smaller pill styles for smaller screens */
  @media (max-width: 1024px) {
    span.brutal-pill {
      padding: 0.125rem 0.5rem;
      font-size: x-small;
    }
  }

  span.brutal-pill:hover {
    background-color: var(--tcotta);
    color: white;
  }

  /* Dark mode styles */
  :root.dark span.brutal-pill {
    background-color: var(--darkColor);
    border-color: var(--textcolor-dark);
    color: var(--textcolor-dark);
  }

  :root.dark span.brutal-pill:hover {
    background-color: var(--tcotta-dark);
    color: white;
  }
</style>

<span class="brutal-pill">
  <slot />
</span>
