---
import Card from '@components/generic/Card.astro';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  imgSrc: ImageMetadata;
  imgAlt: string;
  description: string;
}

const { title, imgAlt, imgSrc, description } = Astro.props;
---

<Card color='var(--bgcolor)'>
  <h3 class='poppins font-semibold text-lg md:text-xl'>{title}</h3>
  <div class='rounded-lg border-2 border-textcolor my-4 h-100'>
    <Image
      src={imgSrc}
      alt={imgAlt}
      width={800}
      height={400}
      class='rounded h-full w-full object-cover'
    />
  </div>
  <p class='poppins text-justify'>{description}</p>
  <slot />
</Card>
