---
interface Props {
  color: string;
}

const { color,} = Astro.props;

---
<style define:vars={{ color: color }}>
  .title-card {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Create three rows: auto for title, 1fr for spacing, auto for subtitle */
    align-items: center;
  }
</style>

<div class="title-card">
  <slot />
</div>

